<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860582033176-hlaj4255kqu6lmvnknvrl5d8s7k0d7ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860582033176-hlaj4255kqu6lmvnknvrl5d8s7k0d7ii</string>
	<key>API_KEY</key>
	<string>AIzaSyBtFQLRyaCYoikHGgXWyiX_eLk2qrndhnw</string>
	<key>GCM_SENDER_ID</key>
	<string>860582033176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseChatDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-chatdemo-aa2fd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chatdemo-aa2fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860582033176:ios:d695b8a5bee167ddbc506d</string>
</dict>
</plist>
